@{
    ViewData["Title"] = "Home Page";

}
@*@model IEnumerable<FootballWeb.Models.Entity.Player>*@



    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="PlayerView">Гравці</a>
        @*<a class="navbar-brand hidden-xs" href="/">
            Гравці
        </a>*@

    </div>
